body{
    background-color: #EEEEEE;
}

input[type=text]{
    padding: 10px;
    font-size: 14px;
}

.azul{
    background-color: blue;
    color: white;
}

.vermelho{
    background-color: red;
    color: white;
}

.verde{
    background-color: green;
    color: black;
}

#telefone{
    background-color: #ffff;
    border: 1px solid;
    display: inline-block;
    width: 120px;
    display: none;
}